body{
  margin: 0;
  padding : 0;
  font-family: sans-serif;
  background: #e0dfdc;
}

.info{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #f7f7f7;
  text-align: center;
  border-radius: 10px;
  border-bottom: 8px solid #bdbdbd;
  border-right: 5px solid #bdbdbd;
}

.info h1{
  color: #4d4444;
  text-transform: uppercase;
  font-weight: 500;
}

.info input[type = "text"], .info input[type = "Password"]{
  border:0;
  background: none;
  margin: 20px auto;
  display: block;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
}
.info input[type = "text"], .info input[type = "Password"]{
  width: 280px;
  border-color: #877b7b;
}
.info input[type = "submit"]{
  border:0;
  background: none;
  margin: 20px auto;
  display: block;
  text-align: center;
  border: 2px solid #c0392b;
  padding: 14px 40px;
  width: 200px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.info input[type = "submit"]:hover{
    background: #c0392b
}

.id_input p{
  color: black;
  text-transform: uppercase;
  font-weight: 500;
}

.id_input{
  width: 300px;
  height: 550px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
}

.id_input input[type = "text"], .id_input input[type = "Password"]{
  border:0;
  background: none;
  margin: 20px auto;
  display: block;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
}

.id_input input[type = "text"], .id_input[type = "Password"]{
  width: 280px;
  border-color : #e67e22;
}

.id_input input[type="submit"]{
  border:0;
  background: none;
  margin: 50px auto;
  display: block;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  width: 200px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.id_input input[type = "submit"]:hover{
    background: #2ecc71
}
#knuimage{
  padding-top: 40px;
  text-align:center;
}
.sign{
  text-decoration:none;
}
.p-box{
  display:grid;
  grid-template-columns: 1fr 1fr;
}
h4{
  margin-right: 5px;
  margin-left: 5px;
  padding: 7px;
  border-bottom: 2px solid #dedee3;
}
#number{
  padding: 35px;
  font-size:15px;
  border-radius: 10px;
  background: #f7f7fa;
  margin: 10px;
  border: 2px solid #dedee3;
}
#time_inout{
  padding: 3%;
  margin-top: 3%;
}
#time{
  padding: 5px;
  font-size: 12px;
  border-bottom: 2px solid #dedee3;
}
#inout{
  margin: 5px;
  padding: 2px;
  display:grid;
  grid-template-columns: 1fr 1fr;
}
#extend{
  margin: 5px;
  padding-bottom:4px;
  border-radius: 10px;
  background:#736d6d;
  border: 4px solid #736d6d;
}
#out{
  margin: 5px;
  padding-bottom:4px;
  border-radius: 10px;
  background:#bd5151;
  border: 4px solid #bd5151;
}
#record{
  font-size: 12px;
  color:#4d4444;
  margin-top:10px;
  background:#dedee3;
  border: 2px solid #dedee3;
  border-radius: 10px;
  margin-left: 15%;
  margin-right: 15%;
  padding: 3px;
}
