body{
  margin: 0;
  padding : 0;
  font-family: sans-serif;
  background: #2c3e50;
}

.info{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
}

.info h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.info input[type = "text"], .info input[type = "Password"]{
  border:0;
  background: none;
  margin: 20px auto;
  display: block;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.info input[type = "text"], .info input[type = "Password"]{
  width: 280px;
  border-color: #2ecc71;
}

.info input[type = "submit"]{
  border:0;
  background: none;
  margin: 20px auto;
  display: block;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 40px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.info input[type = "submit"]:hover{
    background: #2ecc71;
}

.id_input p{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.id_input{
  width: 300px;
  height: 550px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
}

.id_input input[type = "text"], .id_input input[type = "Password"]{
  border:0;
  background: none;
  margin: 20px auto;
  display: block;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.id_input input[type = "text"], .id_input[type = "Password"]{
  width: 280px;
  border-color : #e67e22;
}

.id_input input[type="submit"]{
  border:0;
  background: none;
  margin: 50px auto;
  display: block;
  text-align: center;
  border: 2px solid #e67e22;
  padding: 14px 40px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.id_input input[type = "submit"]:hover{
    background: #2ecc71;
}
