<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HOME</title>
    <link rel="stylesheet" href="home_style.css">
  </head>
  <script>
  function extendCheck() {
    if (confirm("연장하시겠습니까?") == true){    //확인
      document.removefrm.submit();
    }
    else{   //취소
      return false;
    }
  }
  function outCheck() {
    if (confirm("퇴실하시겠습니까?") == true){    //확인
      document.removefrm.submit();
    }
    else{   //취소
      return false;
    }
  }
  </script>
  </script>
  <body>
    <form class="info" action="index.html" method="post">
      <!--  받아온사용자정보 + 좌석 -->
      <h4><font color="#4d4444">이예림(2020114702)</font></h4>
      <div class="p-box">
        <input type="button" id="number" value="예약" onclick="location.href='class.html'">
        <div id="time_inout">
          <div id="time" >
            <font size="1em" color="#5c5c5c">2021-07-20</font>
            <br>
            <font size="2em" color="#383838">9:00 ~ 13:00</font>
          </div>
          <div id="inout">
            <input type="button" id ="extend" value="연장" onclick="extendCheck();">
            <input type="button" id ="out" value="퇴실" onclick="outCheck();">
          </div>
        </div>
      </div>

      <input type="button" id ="record" value="이용기록확인" onclick="location.href='uselist.html'">

      <br>
      <br>
      <div id="knuimage">
      <img src="17-3.jpg" width="50%">
      </div>
    </form>
  </body>
</html>
