<!DOCTYPE html>
<html>
  <head lang= "ko">
    <meta charset="utf-8">
    <title>Reservation</title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'CSS/reservationstyle.css')}}">
  </head>
  <script>
  var i = 0;
  var checkmate = document.getElementsByName('win');
  function seatCheck(v) {
    if(i<checkmate.length){
      if(checkmate[i].value == v){
        var question = confirm("104호 "+v+"번 좌석으로 배정하시겠습니까?");
        if (question == true){    //확인
          // 클릭하였을 때 박스의 디자인이 바뀌는 코드
          var target = document.getElementById('couponId');
          var targeting = document.getElementById('on');
          targeting.className = "a";
          targeting.setAttribute("id","off");
          target.setAttribute("id","blank");
          target.setAttribute("value","");

          //
          var ticket = document.getElementById('subway');
          ticket.submit();
          //document.removefrm.submit();
        }
        else{   //취소
          return false;
        }
      }
      else {
        i = i+1;
        seatCheck(v);
      }
    }
    else{
      i = 0;
      seatCheck(v);
    }
  }
  </script>
  <body>
    <div class="header">
      <header>
        <form class="top" action="/class" method="post">
          <input type="submit" value="&lt"> <!--다시 홈화면으로 되돌아가는 submit 버튼-->
          <h2>104호</h2> <!--몇호실인지 얘기를 해주는 Text-->
        </form>
      </header>

      <div class="container_whole">
        <form id = "subway" action = "/home" method="post">
          <div class="container_1">
            <div class="a" id = "off"><input type="button" id = 'blank'name = "lose"  value=" "></div>
            <div class="item" id = "on"><input type="button" id = 'couponId'  name = "win" value="1" onclick ="
              seatCheck(value);
            "></div>
            <div class="a" id = "off"><input type="button" id = 'blank'name = "lose"  value=" "></div>
            <div class="item" id = "on"><input type="button" id = 'couponId' name = "win" value="2" onclick ="
              seatCheck(value);
            "></div>
            <div class="a" id = "off"><input type="button" id = 'blank' name = "lose" value=" "></div>
            <div class="item" id = "on"><input type="button" id = 'couponId'  name = "win"value="3" onclick ="
              seatCheck(value);
            "></div>
          </div>

          <div class="container_2">
            <div class="item" id = "on"><input type="button" id = 'couponId' name = "win" value="4" onclick ="
              seatCheck(value);
            "></div>
            <div class="a" id = "off"><input type="button" id = 'blank'name = "lose"  value=" "></div>
            <div class="item" id = "on"><input type="button"  id = 'couponId'  name = "win"value="5" onclick ="
              seatCheck(value);
            "></div>
            <div class="a" id = "off"><input type="button" id = 'blank'name = "lose"  value=" "></div>
            <div class="item" id = "on"><input type="button"  id = 'couponId'  name = "win"value="6" onclick ="
              seatCheck(value);
            "></div>
            <div class="a" id = "off"><input type="button" id = 'blank' name = "lose" value=" "></div>
          </div>

          <div class="container_3">
            <div class="a" id = "off"><input type="button" id = 'blank'name = "lose"  value=" "></div>
            <div class="item" id = "on"><input type="button"  id = 'couponId'  name = "win"value="7" onclick ="
              seatCheck(value);
            "></div>
            <div class="a" id = "off"><input type="button" id = 'blank'name = "lose"  value=" "></div>
            <div class="item" id = "on"><input type="button"  id = 'couponId' name = "win" value="8" onclick ="
              seatCheck(value);
            "></div>
            <div class="a" id = "off"><input type="button" id = 'blank'name = "lose"  value=" "></div>
            <div class="item" id = "on"><input type="button"  id = 'couponId' name = "win" value="9" onclick ="
              seatCheck(value);
            "></div>
          </div>
          <div class="container_4">
            <div class="item" id = "on"><input type="button"  id = 'couponId' name = "win" value="10" onclick ="
              seatCheck(value);
            "></div>
            <div class="a" id = "off"><input type="button" id = 'blank'name = "lose"  value=" "></div>
            <div class="item" id = "on"><input type="button"  id = 'couponId'  name = "win"value="11" onclick ="
              seatCheck(value);
            "></div>
            <div class="a" id = "off"><input type="button" id = 'blank'name = "lose"  value=" "></div>
            <div class="item" id = "on"><input type="button"  id = 'couponId' name = "win" value="12" onclick ="
              seatCheck(value);
            "></div>
            <div class="a" id = "off"><input type="button" id = 'blank'name = "lose"  value=" "></div>
          </div>
          <div class="container_5">
            <div class="a" id = "off"><input type="button" id = 'blank'name = "lose"  value=" "></div>
            <div class="item" id = "on"><input type="button"  id = 'couponId' name = "win" value="13" onclick ="
              seatCheck(value);
            "></div>
            <div class="a" id = "off"><input type="button" id = 'blank' name = "lose" value=" "></div>
            <div class="item" id = "on"><input type="button"  id = 'couponId' name = "win" value="14" onclick ="
              seatCheck(value);
            "></div>
            <div class="a" id = "off"><input type="button" id = 'blank' name = "lose" value=" "></div>
            <div class="item" id = "on"><input type="button"  id = 'couponId'  name = "win"value="15" onclick ="
              seatCheck(value);
            "></div>
          </div>
        </form>

      </div>

    </div>

  </body>
</html>
